@font-face {
    font-family: 'BPtypewriteUnderscored';
    src: url('BPtypewriteUnderscored.eot'); /* IE9 Compat Modes */
    src: url('BPtypewriteUnderscored.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPtypewriteUnderscored.woff') format('woff'), /* Modern Browsers */
         url('BPtypewriteUnderscored.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}