@font-face {
    font-family: 'BPtypewrite';
    src: url('BPtypewriteItalic.eot'); /* IE9 Compat Modes */
    src: url('BPtypewriteItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPtypewriteItalic.woff') format('woff'), /* Modern Browsers */
         url('BPtypewriteItalic.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}