@font-face {
    font-family: 'BPtypewriteStrikethrough';
    src: url('BPtypewriteStrikethrough.eot'); /* IE9 Compat Modes */
    src: url('BPtypewriteStrikethrough.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BPtypewriteStrikethrough.woff') format('woff'), /* Modern Browsers */
         url('BPtypewriteStrikethrough.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}